@using ReplayBrowser.Data.Models.Account

<div class="card @(Template ? "hidden" : "")">
    <div class="card-body">
        <h5 class="card-title">Webhook</h5>
        <p class="card-text">Url: @Webhook.Url</p>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            @Webhook.Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            @foreach (var type in Enum.GetNames(typeof(WebhookType)))
            {
                <li><a class="dropdown-item" href="#">@type</a></li>
            }
        </ul>
        <button class="btn btn-danger" type="button" id="deletewebhook" data-id="@Webhook.Id">Delete webhook</button>
    </div>
</div>

@code {
    [Parameter]
    public required Webhook Webhook { get; set; }

    [Parameter] public bool Template { get; set; } = false;
}