@page "/search"

@using System.Diagnostics
@using Humanizer
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Mvc
@using ReplayBrowser.Data.Models
@using ReplayBrowser.Models
@using ReplayBrowser.Pages.Shared
@using Microsoft.AspNetCore.Components.Web
@using ReplayBrowser.Data
@using ReplayBrowser.Helpers

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager
@inject ReplayHelper ReplayHelper

<PageTitle>Replay viewer</PageTitle>
<h1>Replay browser for Space Station 14</h1>
<p>Search for replays by using the search bar below</p>
<hr/>
<SearchBar Items="SearchItems"></SearchBar>
<hr/>
@if (ErrorMessage != null)
{
    <MetaDataSpecifer
        Title="Search error"
        Description="@OpenGraphDescriptionError"
    />

    <p class="alert alert-danger">
        @ErrorMessage
        <br/>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#errorDetails" aria-expanded="false" aria-controls="errorDetails">
            Show error details
        </button>
        <div class="collapse" id="errorDetails">
            <div class="card card-body" style="white-space: pre-wrap;">
                @ErrorDetails
            </div>
        </div>
    </p>
} else switch (SearchResult.Replays.Count)
{
    case 0 when IsLoading:
        <div class="replay-list">
            <p>Loading...</p>
        </div>
        break;
    case 0:
            <MetaDataSpecifer
                Title="Search results"
                Description="@OpenGraphDescriptionNoResults"
            />
            <p>Found 0 replays in @stopWatch.ElapsedMilliseconds ms</p>
            <div class="replay-list">
                <p>No results... :(</p>
            </div>
        break;
    default:
    {
        var pageDisplay = SearchResult.CurrentPage + 1;
        <MetaDataSpecifer
            Title="Search results"
            Description="@OpenGraphDescriptionResults"
        />

        if (SearchResult.IsCache)
        {
            <p>Found @SearchResult.TotalReplays replays in @stopWatch.ElapsedMilliseconds ms (cached)</p>
        }
        else
        {
            <p>Found @SearchResult.TotalReplays replays in @stopWatch.ElapsedMilliseconds ms</p>
        }

        if (ProfileFound != null)
        {
            <p>Profile found for @ProfileFound.Username, click <a href="/player/@ProfileFound.PlayerGuid">here</a> to view</p>
        }

        <p>Page @pageDisplay of @SearchResult.PageCount</p>
        <div class="replay-list">
            @foreach (var replay in SearchResult.Replays)
            {
                <ReplayDisplay ReplayData="replay"></ReplayDisplay>
            }
        </div>
        <br/>
        <div class="pagination">
            @if (SearchResult.CurrentPage > 0)
            {
                <button class="btn btn-primary" onclick="pageDown()">Previous page</button>
            } else
            {
                <button class="btn btn-primary" disabled>Previous page</button>
            }
            @if (SearchResult.CurrentPage < SearchResult.PageCount - 1)
            {
                <button class="btn btn-primary" onclick="pageUp()">Next page</button>
            } else
            {
                <button class="btn btn-primary" disabled>Next page</button>
            }
        </div>
        break;
    }
}

<style>
    .replay-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 1rem 0;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
    }

    .pagination .btn {
        margin: 0 0.5rem;
    }
</style>

<script>
    const currentPage = @SearchResult.CurrentPage;
    const totalPages = @SearchResult.PageCount;
    function pageUp() {
        if (currentPage == (totalPages - 1)) return;
        search(currentPage + 1);
    }
    function pageDown() {
        if (currentPage == 0) return;
        search(currentPage - 1);
    }
</script>

@code {
    public bool IsLoading { get; set; } = true;
    public string? ErrorMessage { get; set; }
    public string? ErrorDetails { get; set; }
    public Stopwatch stopWatch { get; set; } = new Stopwatch();
    public PlayerData? ProfileFound { get; set; }

    public SearchResult SearchResult { get; set; } = new SearchResult();
    public List<SearchQueryItem> SearchItems { get; set; } = new List<SearchQueryItem>();

    private string OpenGraphDescriptionError => ErrorMessage + "\n" + ErrorDetails;
    private string OpenGraphDescriptionResults => $"Found {SearchResult.TotalReplays} replays. Page: {SearchResult.CurrentPage + 1}/{SearchResult.PageCount}\n\n{FormatOpenGraphSpeciferDescription()}";
    private string OpenGraphDescriptionNoResults => "No results found.\n\n" + FormatOpenGraphSpeciferDescription();

    private string FormatOpenGraphSpeciferDescription()
    {
        var searchQuery = string.Join("\n", SearchItems.Select(x => $"- {x.SearchModeEnum.Humanize()}: {x.SearchValue}"));

        // Limit the length of the description to 200 characters
        if (searchQuery.Length > 200)
        {
            searchQuery = searchQuery.Substring(0, 200) + "...";
        }
        return $"Searching for:\n{searchQuery}";
    }
    /// <summary>
    /// Search modes that you can only once in a query to save on processing time
    /// </summary>
    private static List<SearchMode> LimitedSearchModes = new List<SearchMode>
    {
        SearchMode.ServerId,
        //SearchMode.RoundEndText,
    };

    protected override async Task OnInitializedAsync()
    {
        stopWatch.Start();

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        // Pull a nice multi-value query interface from the Request
        // TODO: Why can we not access this in the component?
        var queryTest = HttpContextAccessor.HttpContext?.Request.Query;
        if (queryTest is null || queryTest.Count < 1)
            return;

        var pageInt = int.Parse(queryTest["page"].FirstOrDefault() ?? "0");

        try
        {
            // Get the search params from query
            // Using both multi-value plain search, and legacy Base64 JSON
            SearchItems = SearchQueryItem.FromQuery(queryTest);
        }
        catch (Exception e)
        {
            ErrorMessage = "Invalid search query";
            ErrorDetails = e.Message;
            stopWatch.Stop();
            return;
        }

        // If any SearchMode is invalid, we throw an error
        try
        {
            SearchItems.ForEach(x => _ = x.SearchModeEnum); // we dont care about the result, just need to call the getter
        }
        catch (ArgumentOutOfRangeException e)
        {
            ErrorMessage = "Invalid search mode";
            ErrorDetails = "Search mode could not be assigned to a valid enum value\n Value: " + e.ActualValue;
            stopWatch.Stop();
            return;
        }

        // If any SearchMode in the query is a LimitedSearchMode, we check if it is duplicated, if it is, we throw an error
        var searchModes = SearchItems.Select(x => x.SearchModeEnum).ToList();
        foreach (var limitedSearchMode in LimitedSearchModes)
        {
            if (searchModes.Count(x => x == limitedSearchMode) > 1)
            {
                ErrorMessage = "Invalid search query";
                ErrorDetails = "Search mode " + limitedSearchMode + " is a limited search mode and can only be used once in a query";
                stopWatch.Stop();
                return;
            }
        }

        if (SearchItems.Count == 0)
        {
            ErrorMessage = "Invalid search query";
            ErrorDetails = "No search items found";
            stopWatch.Stop();
            NavigationManager.NavigateTo("/");
            return;
        }

        if (SearchItems.Exists(x => x.SearchModeEnum == SearchMode.PlayerOocName))
        {
            ProfileFound = await ReplayHelper.HasProfile(SearchItems.Find(x => x.SearchModeEnum == SearchMode.PlayerOocName)!.SearchValue, authState);
        }

        try
        {
            SearchResult = await ReplayHelper.SearchReplays(SearchItems, pageInt, authState);
        }
        catch (UnauthorizedAccessException e)
        {
            ErrorMessage = "Redacted account(s).";
            ErrorDetails = e.Message;
            stopWatch.Stop();
            return;
        }
        catch (Exception e)
        {
            ErrorMessage = "An error occurred";
            ErrorDetails = e.Message;
            stopWatch.Stop();
            return;
        }

        stopWatch.Stop();
        IsLoading = false;
    }
}