@page "/stats"
@using System.Drawing
@using System.Globalization
@using ReplayBrowser.Data
@using ReplayBrowser.Models
@using ReplayBrowser.Services
@using Microsoft.AspNetCore.Components.Web
@inject AnalyticsService AnalyticsService

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<PageTitle>Stats</PageTitle>

<h3>Stats</h3>
@if (_errorMessage != null)
{
    <p>@_errorMessage</p>
} else if (_isNotGenerated)
{
    <p>Analytics data is not generated yet. Please try again later.</p>
}
else if (_analyticsData != null)
{
    foreach (var data in _analyticsData.Analytics)
    {
        <div>
            <h4>@data.Name</h4>
            <p>@data.Description</p>
            @if(data.Error != null)
            {
                <p class="text-danger">@data.Error</p>
            }
            else
            {
                <canvas id="@data.Name" width="400" height="250"></canvas>
                @((MarkupString)GetChartScript(data))
            }
        </div>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    private AnalyticsData? _analyticsData;
    private string? _errorMessage;
    private bool _isNotGenerated = false;

    protected override void OnInitialized()
    {
        try
        {
            _analyticsData = AnalyticsService.GetAnalytics();
        }
        catch (InvalidOperationException ex)
        {
            _isNotGenerated = true;
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }

    private Color GenerateColorFromName(string name)
    {
        var random = new Random(name.GetHashCode());
        var col = Color.FromArgb(random.Next(0, 255), random.Next(0, 255), random.Next(0, 255));

        // Make sure the color is not too dark
        if (col.GetBrightness() < 0.5)
        {
            col = Color.FromArgb(255 - col.R, 255 - col.G, 255 - col.B);
        }

        return col;
    }

    private string GetChartScript(Analytics data)
    {
        var labels = string.Join(",", data.Data.Select(x => $"'{x.Label}'"));
        var dataset = string.Join(",", data.Data.Select(x => x.Data.ToString(CultureInfo.InvariantCulture)));
        var backgroundColor = GenerateColorFromName(data.Name).ToArgb();
        var borderColor = GenerateColorFromName(data.Name).ToArgb();

        return $@"
            <script>
                new Chart(document.getElementById('{data.Name}').getContext('2d'), {{
                    type: '{data.Type}',
                    data: {{
                        labels: [{labels}],
                        datasets: [{{
                            label: 'Count',
                            data: [{dataset}],
                            backgroundColor: 'rgba({Color.FromArgb(backgroundColor).R}, {Color.FromArgb(backgroundColor).G}, {Color.FromArgb(backgroundColor).B}, 0.2)',
                            borderColor: 'rgba({Color.FromArgb(borderColor).R}, {Color.FromArgb(borderColor).G}, {Color.FromArgb(borderColor).B}, 1)',
                            borderWidth: 1
                        }}]
                    }},
                    options: {{
                        scales: {{
                            y: {{
                                beginAtZero: true
                            }}
                        }}
                    }}
                }});
            </script>";
    }
}