<div class="card" style="width: 18rem; margin-top: 1rem">
    <div class="spinner-container" id="loading-spinner-@ProfileId">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="card-body" id="content-body-@ProfileId">
        <h5 class="card-title" id="content-title-@ProfileId"></h5>
        <p class="card-text" id="content-text-@ProfileId"></p>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary" style="margin-right: 0.1rem" href="/player/@ProfileId" target="_blank">View in new tab</a>

        <button class="btn btn-outline-danger" style="float: right; margin-top: 10px; margin-right: 0;" id="favorite-button-@ProfileId" onclick="Unwatch('@ProfileId')">
            <i class="fas fa-star"></i>
            <p>Un-watch</p>
        </button>
    </div>
</div>

<script>
    function Unwatch(profileId) {
        $.ajax({
            url: "api/Replay/watch/" + profileId,
            type: "POST",
            success: function(data) {
                location.reload();
            }
        });
    }

    $(document).ready(function() {
        $.ajax({
            url: "api/Replay/profile/" + "@ProfileId",
            type: "GET",
            success: function(data) {
                console.debug(data)
                $("#content-title-" + "@ProfileId").text(data.playerData.username);
                let fields = [];
                let lastPlayedParsedUtcDate = new Date(data.lastSeen);
                fields.push("Last seen: " + timeDifference(new Date(), lastPlayedParsedUtcDate));
                fields.push("Rounds played: " + data.totalRoundsPlayed);
                fields.push("Total antag rounds played: " + data.totalAntagRoundsPlayed);
                if (data.characters.length == 0) {
                    fields.push("No character data available");
                } else {
                    let mostCharacter = data.characters.sort((a, b) => b.roundsPlayed - a.roundsPlayed)[0];
                    fields.push("Most played character: " + mostCharacter.characterName + " (" + mostCharacter.roundsPlayed + " rounds)");
                }
                if (data.jobCount.length == 0) {
                    fields.push("No job data available");
                } else {
                    let mostPlayedJob = data.jobCount.sort((a, b) => b.roundsPlayed - a.roundsPlayed)[0];
                    fields.push("Most played job: " + mostPlayedJob.jobPrototype + " (" + mostPlayedJob.roundsPlayed + " rounds)");
                }

                $("#content-text-" + "@ProfileId").html(fields.join("<br>"));
                
                $("#loading-spinner-" + "@ProfileId").remove();
            },
            error: function(data) {
                console.error(data);
                // if we got a unauthorized response, profile is private
                if (data.status == 401) {
                    $("#content-title-" + "@ProfileId").text("Private profile");
                    $("#content-text-" + "@ProfileId").text("This profile is private, you can't see any data.");
                } else {
                    $("#content-title-" + "@ProfileId").text("Error");
                    $("#content-text-" + "@ProfileId").text("An error occurred while fetching data.");
                }
                
                // Finish loading
                $("#loading-spinner-" + "@ProfileId").remove();
            }
        });
    });
</script>

@code {
    [Parameter]
    public required Guid ProfileId { get; set; }
}